<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/visas.css">
    <title>Embajadas y visa</title>
</head>
	<header th:replace="plantilla/template :: header"> </header>

<body>
    <div class="banner-visas">
        <img src="imagenes/banner-visas.jpg">
    </div>
    <div class="banner-visas-body">
        <h1>EMBAJADA Y VISA</h1>
    </div>
   <div class="container-visas">
            <div class="container-visas-body">
                <p>Si deseas viajar a Colombia y conocer su cultura, consulta con
                    antelacion acerca de los requesitos para ingresar al pais
                </p>
            </div>
       
            <div class="container-visas-body">
                <h1 class="main-title">Visas</h1>
                <p>Para algunos ciudadanos de determinados paises se les solicitara
                    tramitir una visa de ingresar mediante la embajada o consulado de Colombia
                    en el exterior. Verifique si ese es su caso en el siguiente link <a href="https://www.cancilleria.gov.co/tramites_servicios/visa/requisitos.">https://www.cancilleria.gov.co/tramites_servicios/visa/requisitos.</a>
                </p>
            </div>
       
            <div class="container-visas-body">
                <h1 class="main-title">Entrada a Colombia</h1>
                <p>La siguiente informacion contiene recomendaciones para que no tengas incovinientes con el ingreso a Colombia
                </p>
            </div>

            <div class="container-visas-body">
                <h1 class="main-title">Costos aeropuertarios</h1>
                <p>Los costo aeropuertarios se refiere al valor que pagan los pasajeros por el uso de las instalaciones del aeropuerto.
                    Este pago es obligatorio, si deseas más informacion de estos cotos comunicate a la jefatura de servicios aeropuertarios:
                </p>
                <p>
                    Telefonos: + 54 (1) 425 1000, +57 (1) 425 1000 ext. 2588 y 2083.
                </p>
                <p>Para informacion del valor y codnciones de la tasa aeropuertaria, ingresa a <a href="http://www.aerocivil.gov.co/atencion/participacion/Proyectos%20de%20normatividad/Proyecto%20-%20Ap%C3%A9ndice%202%20RAC%2014%20-%20Cobro%20tasas%20aeroportuarias.pdf">http://www.aerocivil.gov.co/atencion/participacion/Proyectos%20de%20normatividad/Proyecto%20-%20Ap%C3%A9ndice%202%20RAC%2014%20-%20Cobro%20tasas%20aeroportuarias.pdf</a>. </p>
            </div>

            <div class="container-visas-body">
                <h1 class="main-title">Equipaje</h1>
                <p>Existe dos tipos de equipajes, equipaje acompañado y no acompañado</p>
                
            </div>
            <div class="container-visas-body">
                <h1 class="main-title">Equipaje acompañado</h1>
                <p>Es el equipaje que el viajero trae consigo al pais con sus articulos personales</p>
            </div>
            <div class="container-visas-body">
                <h1 class="main-title">Equipaje no acompañado</h1>
                <p>
                    Es el que ingresa al país con anterioridad o posterioridad a la llegada del viajero. Este debe venir consignado a su nombre.
                    Si ya se ingresó o se va a ingresar parte del equipaje por carga, se debe declarar en el formulario de Declaración de Equipaje y Dinero, e informar al funcionario aduanero antes de salir de la zona aduanera. De lo contrario, el envío tendrá el trámite de nacionalización ordinaria. El equipaje que entra treinta días antes o noventa días después de la fecha de la llegada del viajero, debe pagar un 15% de impuesto.
                </p>
            </div>
            <div class="container-visas-body">
                <h1 class="main-title">Ingreso de dinero y mercancias</h1>
                <p>Además de sus efectos personales, cada viajero tiene derecho a ingresar a Colombia dinero y mercancías. Si estos están o no libres de impuestos, depende de las siguientes condiciones:</p>
                <ul>
                    <li>
                        US$ 10.000 o su equivalente en cualquier moneda. Si la cantidad portada supera esta cifra, es necesario declarar dicho ingreso ante las autoridades aduaneras correspondientes.
                    </li>
                    <li>
                        Artículos de uso familiar y personal en cantidades no comerciales hasta por US$ 1.500. Estos artículos están libres de impuestos y deben ingresar como equipaje acompañado.
                    </li>
                    <li>
                        Artículos de uso doméstico, deportivos o propios del arte, profesión u oficio del viajero, en cantidad máxima de 3 de cada tipo, hasta por US$ 2.500. Estos bienes deben pagar un tributo de 15% y el viajero debe cumplir con una permanencia en el exterior mínima de 5 días. Esto puede ingresar como equipaje acompañado o no acompañado.
                    </li>
                </ul>
            </div>
            <div class="container-visas-body">
                <h1 class="main-title">Ingreso de moneda extranjera</h1>
                <p>El viajero que ingrese a Colombia tiene derecho a portar cuantías totales no superiores a US$ 10.000 o su equivalente en otras monedas, inclusive moneda legal colombiana en efectivo, y está obligado por la ley a declarar en el Formulario de Declaración de Equipaje y Dinero</p>
            </div>
        </div>
<footer th:replace="plantilla/template :: footer"> </footer>
</body>
</html>